<header class="text-center background-div">
  <div class="col ajustCenter" style="margin-top: 3rem">
    <div class="drop-effect">
      <img
        src="../../../assets/images/icono_flecha.jpeg"
        alt="Imagen con efecto de gota"
        width="100%"
        height="100%"
      />
    </div>
    <div class="title-home">
      <h3>Universidad Mariano Galvez</h3>
      <h1>Sitema Operativo II UMG</h1>
      <h3>Bienvenido " {{ username }} "</h3>
    </div>
  </div>
</header>

<body>
  <app-crear-cita *ngIf="rol_user === 'USER'" [isCreate]="false"></app-crear-cita>
  <app-doctor-citas-component *ngIf="rol_user === 'DOCTOR'"></app-doctor-citas-component>
  <listado-usuarios *ngIf="rol_user === 'ADMIN'" [isTitle]="false" [opciones]="false"></listado-usuarios>
</body>


