<div class="container-md mt-2">
  <h1 class="text-center">USUARIOS CREADOS</h1>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button
      class="btn btn-primary me-md-2"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#userCreateModal"
      style=" width: 150px;"
    >
      + Crear Usuario
    </button>
  </div>
  <br />
  <table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">email</th>
        <th scope="col">rol</th>
        <th scope="col" style="text-align: center;">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersList; let i = index" >
        <th scope="row">{{ i + 1 }}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.rol }}</td>
          <td class="d-grid gap-2 d-md-flex justify-content-md-end" >
            <button type="button" class="btn btn-danger btn-sm " style="margin-right: 4px; width: 90px;" [disabled]="user?.enable" (click)="eliminarUser(user.user)" >Eliminar</button>
            <button type="button" class="btn btn-primary btn-sm"  style="width: 90px;" [disabled]="user?.enable" (click)="editarUsuario(user)">Editar</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
